.card-image{
width: 400px ;
height: 400px;
}

.table th, .table td {
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
}

.table td {
    max-width: 150px;
}

.table th {
    text-align: center;
}

.table .description {
    max-width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis;
}
